ul li{
    float: left;
    width: 10%;
    background: #442d6b;
}

 ul{
    list-style-type: disc;
    background: #442d6b; 
}


.form-display-schedule-line-row {
    /* display: flex;
    flex-direction: row;
    margin-bottom: 5%; */
    
    margin-bottom: 5%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(2000px, 7fr));
}

.form-display-schedule-card {
    width: 20%;
    height: 25%;
    display: flex;
    margin-left: 2%;
    flex-direction: column;
    border: 1px #442d6b solid;
    /* border-radius: 10px; */
}

.form-display-schedule-header {
    height: 30%;
    background: #442d6b; 
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    /* border-radius: 10px; */
}

.form-display-schedule-container {
    padding: 2px 2px;
    display: flex;
    justify-content: center;
    height: 1px;
    margin: 0;
    align-items: center;
    
}

.main-card {
    width: 60%;
    margin: 0px;
}


.container-card {
background-color: "#342450";
   color: "white";
   display: "flex";
   flex-direction: "column";
   margin-right: "20%";
}


.fliptheCard {
    animation: tilt-in-top-1 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    width: 200px;
    padding: 5px;
    margin: 0;
}

@keyframes tilt-in-top-1 {
    0% {
      transform: rotateY(30deg) translateY(-300px) skewY(-30deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg) translateY(0) skewY(0deg);
      opacity: 1;
    }
  }
  