.form-display-schedule-line-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5%;
}

.form-display-schedule-card {
    width: 20%;
    height: 25%;
    display: flex;
    margin-left: 2%;
    flex-direction: column;
    border: 1px #442d6b solid;
    /* border-radius: 10px; */
}

.form-display-schedule-header {
    height: 30%;
    background: #442d6b;
    color: white;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    /* border-radius: 10px; */
}

.form-display-schedule-container {
    padding: 2px 16px;
    display: flex;
    justify-content: center;
}