.homepage {
    background-image: url("https://i.pinimg.com/originals/75/5c/57/755c576d50d64770a04e703402eddfc3.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
}

.landing {
    height: 100vh;
    background-image: url("/styley.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-focus-in {
    animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    font-size: 3.5em;
    justify-content: center;
    line-height: 95%;
    text-shadow: 1px 1px 2px black, 0 0 25px white;
    /* color: linear-gradient(to left, #FF0000 0%, #FFFF00 20%, #00FF00 40%, #00FFFF 60%, #0000FF 80%, #FF00FF 100%); */
}

.text-focus-in-delay {
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2.5s both;
    font-size: 3.5em;
    justify-content: center;
    line-height: 95%;
    text-shadow: 1px 1px 2px black, 0 0 25px white;
}

.tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3.2s both;
}

.scale-in-center {
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 3.2s both;
}

.sub-title {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
}

.landing-btn {
    border: 1px solid dodgerblue;
    border-radius: 15px;
    padding: 15px;
    background-color: whitesmoke;
    color: #6441a5;
    font-size: 1.3em;
    font-weight: bolder;
    box-shadow: 2px 5px;
}

.poti-card {
    background-color: #cdbce1;
    padding-top: 10vh;
    padding-bottom: 20vh;
    text-align: center;
}

.poti-card h2 {
    font-size: 4em;
    padding-bottom: 2%;
    text-shadow: 1px 1px 2px black, 0 0 25px #6441a5;
}

.poti-card span {
    font-size: 2em;
}

.toto-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #cdbce1;
    padding-top: 20vh;
    padding-bottom: 15vh;
}

#showall>div {
    margin-top: 3%;
    margin-bottom: 2%;
    text-align: center;
}

@keyframes text-focus-in {
    0% {
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}